#EDA for HR rectruitment data

#importing the modules

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_hr_imputed = pd.read_csv("Dataset/hr_imputed.csv")

#Displaying the first five records to show the data

In [3]:
df_hr_imputed.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,Undefined,Pvt Ltd,1,36,1.0
1,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,Small & Medium-org.,Pvt Ltd,5,47,0.0
2,city_21,0.624,Undefined,No relevent experience,Full time course,Graduate,STEM,5,Undefined,Pvt Ltd,0,83,0.0
3,city_115,0.789,Undefined,No relevent experience,no_enrollment,Graduate,Business Degree,0,Undefined,Pvt Ltd,0,52,1.0
4,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,21,Small & Medium-org.,Funded Startup,4,8,0.0

In [4]:
#Display of the information of the columns

In [5]:
df_hr_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    19158 non-null  object
 1   city_development_index  19158 non-null  float64
 2   gender                  19158 non-null  object
 3   relevent_experience     19158 non-null  object
 4   enrolled_university     19158 non-null  object
 5   education_level         19158 non-null  object
 6   major_discipline        19158 non-null  object
 7   experience              19158 non-null  int64
 8   company_size            19158 non-null  object
 9   company_type            19158 non-null  object
 10  last_new_job            19158 non-null  int64
 11  training_hours          19158 non-null  int64
 12  target                  19158 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 1.9+ MB

Observations : 
    1. The columns city, gender, relevant_experience, enrolled_university, education_level, major_discipline, company_size, company_type are of oject in nature.
    2. city_development_index and target are of decimal numbers. 
    3. last_new_job and training_hours are of integer data type.
Hence, No type conversion is needed for these columns.

In [ ]:
# To display the unique values in each column for categorizing the columns

In [7]:
df_hr_imputed_columns = {}
for i in df_hr_imputed.columns:
    df_hr_imputed_columns[i] = [df_hr_imputed[i].unique(),df_hr_imputed[i].dtype]

In [8]:
df_hr_imputed_columns

{'city': [array(['city_103', 'city_40', 'city_21', 'city_115', 'city_162',
         'city_176', 'city_160', 'city_46', 'city_61', 'city_114',
         'city_13', 'city_159', 'city_102', 'city_67', 'city_100',
         'city_16', 'city_71', 'city_104', 'city_64', 'city_101', 'city_83',
         'city_105', 'city_73', 'city_75', 'city_41', 'city_11', 'city_93',
         'city_90', 'city_36', 'city_20', 'city_57', 'city_152', 'city_19',
         'city_65', 'city_74', 'city_173', 'city_136', 'city_98', 'city_97',
         'city_50', 'city_138', 'city_82', 'city_157', 'city_89',
         'city_150', 'city_70', 'city_175', 'city_94', 'city_28', 'city_59',
         'city_165', 'city_145', 'city_142', 'city_26', 'city_12',
         'city_37', 'city_43', 'city_116', 'city_23', 'city_99', 'city_149',
         'city_10', 'city_45', 'city_80', 'city_128', 'city_158',
         'city_123', 'city_7', 'city_72', 'city_106', 'city_143', 'city_78',
         'city_109', 'city_24', 'city_134', 'city_48', 'city_144',
         'city_91', 'city_146', 'city_133', 'city_126', 'city_118',
         'city_9', 'city_167', 'city_27', 'city_84', 'city_54', 'city_39',
         'city_79', 'city_76', 'city_77', 'city_81', 'city_131', 'city_44',
         'city_117', 'city_155', 'city_33', 'city_141', 'city_127',
         'city_62', 'city_53', 'city_25', 'city_2', 'city_69', 'city_120',
         'city_111', 'city_30', 'city_1', 'city_140', 'city_179', 'city_55',
         'city_14', 'city_42', 'city_107', 'city_18', 'city_139',
         'city_180', 'city_166', 'city_121', 'city_129', 'city_8',
         'city_31', 'city_171'], dtype=object),
  dtype('O')],
 'city_development_index': [array([0.92 , 0.776, 0.624, 0.789, 0.767, 0.764, 0.762, 0.913, 0.926,
         0.827, 0.843, 0.804, 0.855, 0.887, 0.91 , 0.884, 0.924, 0.666,
         0.558, 0.923, 0.794, 0.754, 0.939, 0.55 , 0.865, 0.698, 0.893,
         0.796, 0.866, 0.682, 0.802, 0.579, 0.878, 0.897, 0.949, 0.925,
         0.896, 0.836, 0.693, 0.769, 0.775, 0.903, 0.555, 0.727, 0.64 ,
         0.516, 0.743, 0.899, 0.915, 0.689, 0.895, 0.89 , 0.847, 0.527,
         0.766, 0.738, 0.647, 0.795, 0.74 , 0.701, 0.493, 0.84 , 0.691,
         0.735, 0.742, 0.479, 0.722, 0.921, 0.848, 0.856, 0.898, 0.83 ,
         0.73 , 0.68 , 0.725, 0.556, 0.448, 0.763, 0.745, 0.645, 0.788,
         0.78 , 0.512, 0.739, 0.563, 0.518, 0.824, 0.487, 0.649, 0.781,
         0.625, 0.807, 0.664]),
  dtype('float64')],
 'gender': [array(['Male', 'Undefined', 'Female', 'Other'], dtype=object),
  dtype('O')],
 'relevent_experience': [array(['Has relevent experience', 'No relevent experience'], dtype=object),
  dtype('O')],
 'enrolled_university': [array(['no_enrollment', 'Full time course', 'Part time course'],
        dtype=object),
  dtype('O')],
 'education_level': [array(['Graduate', 'Masters', 'High School', 'Phd', 'Primary School'],
        dtype=object),
  dtype('O')],
 'major_discipline': [array(['STEM', 'Business Degree', 'Arts', 'Humanities', 'No Major',
         'Other'], dtype=object),
  dtype('O')],
 'experience': [array([21, 15,  5,  0, 11, 13,  7, 17,  2, 16,  1,  4, 10, 14, 18, 19, 12,
          3,  6,  9,  8, 20], dtype=int64),
  dtype('int64')],
 'company_size': [array(['Undefined', 'Small & Medium-org.', 'Large-org.'], dtype=object),
  dtype('O')],
 'company_type': [array(['Pvt Ltd', 'Funded Startup', 'Early Stage Startup', 'Other',
         'Public Sector', 'NGO'], dtype=object),
  dtype('O')],
 'last_new_job': [array([1, 5, 0, 4, 3, 2], dtype=int64), dtype('int64')],
 'training_hours': [array([ 36,  47,  83,  52,   8,  24,  18,  46, 123,  32, 108,  23,  26,
         106,   7, 132,  68,  50,  48,  65,  13,  22, 148,  72,  40, 141,
          82, 145, 206, 152,  42,  14, 112,  87,  20,  21,  92, 102,  43,
          45,  19,  90,  25,  15,  98, 142,  28, 228,  29,  12,  17,  35,
           4, 136,  27,  74,  86,  75, 332, 140, 182, 172,  33,  34, 150,
         160,   3,   2, 210, 101,  59, 260, 131, 109,  70,  51,  60, 164,
         290, 133,  76, 156, 120, 100,  39,  55,  49,   6, 125, 326, 198,
          11,  41, 114, 246,  81,  31,  84, 105,  38, 178, 104, 202,  88,
         218,  62,  10,  80,  77,  37, 162, 190,  30,  16,   5,  54,  44,
         110, 262, 107, 134, 103,  96,  57, 240,  94, 113,  56,  64, 320,
           9, 129,  58, 126, 166,  95,  97, 204, 116, 161, 146, 302,  53,
         143, 124, 214, 288, 306, 322,  67,  61, 130, 220,  78, 314, 226,
         280,  91, 234, 163, 151,  85, 256, 168, 144,  66, 128,  73, 122,
         154,  63, 292, 188,  71, 135, 138, 184,  89, 157, 118, 111, 192,
         127, 216, 139, 196,  99, 167, 276, 121,  69, 155, 316, 242, 304,
         284, 278, 310, 222, 212, 250, 180, 258, 330, 158, 149, 165,  79,
         194, 176, 174, 312, 200, 328, 300, 153, 232, 336, 308, 147, 298,
         224, 254, 248, 236, 170, 264, 119, 117, 334, 324,   1, 238, 266,
         282, 268, 244, 272, 294, 270, 286], dtype=int64),
  dtype('int64')],
 'target': [array([1., 0.]), dtype('float64')]}

#Observations : 
 1. training_hours,target,experience are numeric discrete variable. 
 2. city_development_index is a continuous numeric variable.
 3. city, gender,relevent_experience,enrolled_university,education_level,major_discipline,company_size,company_type are of the qualitative variables.

#Checking for the null values in the columns.

In [10]:
df_hr_imputed.isnull().sum()

city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

#Observation : There are no null values exists in the dataframe.

#To save the result into a new CSV file

In [13]:
df_hr_imputed.to_csv('Dataset/hr_cleaned.csv',index=False)